@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #77def3;
    width: min(470px, 80%);
    min-width: 280px;
    margin: auto;
    text-align: center;
    padding: 1.5em 1em;
    margin-top: 1%;
    border-radius: 10px 10px 0 0;
}

header h1 {
    margin-bottom: 1em;
    color: rgb(21,21,21);
}

header img {
    width: 80px;
}